{% extends "layout.html" %}

{% block title %}
An Argument for Giving to Panhandlers
{% endblock %}

{% block content_column %}

If you live in Canada, <a href="https://www150.statcan.gc.ca/n1/pub/11-630-x/11-630-x2015004-eng.htm">you're probably reading this in a city</a>. And given your urban setting, chances are that you are familiar with a peculiar fauna that exists somewhere in your ecosystem. Typically found in high-traffic areas of the commute, having carved out a territory. Some have shelter of their own, others share it, and others still spend most nights of their lives looking up at the stars.

Whoever they are, whatever brought them here and wherever they lay their head, when they wake up in the morning share is that their particular method of survivial in this urban ecosystem would best be described as scavenging. A 

Well, why not?

Turns out this question has been asked before. well meaning people want to help but their suspicions seems ot be confirmed

<a href="https://www.theatlantic.com/business/archive/2011/03/should-you-give-money-to-homeless-people/72820/"></a>

allow me to make a counter-argument.

how many of the people you pass in the street do you think are going to use your money for drugs?

do you think they will ever get help?

if they live out their days addicted and and feeding that addiction by scavanging societies leftovers, wouldn't it be a much better life if they could eat a meal, get a coffee, buy some smokes here and there?



what am I going to do? Just carry around a bunch of change to give to every homeless person I see?

Again, why not?

Because I don't have any change.

that's an argument that I'll accept. But you're admitting that you're willing to help, but only with a catch.

What's the catch. They must use the help your providing to benefit themselves? Totally understandable

So, let's keep that will in place for a moment. How do we acheive your goal?

Let's treat this a bit like a math problem, more specifically an optimization problem.

Goal: help homeless people with the means that you have

constraints:
- cannot be used for drugs
- must be without cash

we're essentially talking about a trust here.

define a trust.

so what are the costs involved? well, we need to pay the trust mananger. No small task; without boatloads of money coming in, the fees for the lawyer are likely much higher than the fund itself

the technical side of things is a bit easier to work through
your big grocery stores are pretty damn high-tech

chip reader?
fingerprint?
who pays?
what if cards get lost
i guaranteee that your local grocery store is very familiar with the local itinerants, they'll know the guy by sight



taxes specify where you want your money to go

give $2 to goal X

basically government sponsored GoFundMe for companies that have been vetted by independent agencies.

you're getting back 1500$, what's 2 bucks here or there to some good cause?

<a href="https://www.mic.com/articles/187094/at-this-canadian-diner-homeless-people-can-use-meal-tokens-to-buy-sandwiches"></a>


You are more likely to give money to some mundane (but internet mundane, so "cool" and "fun" mundane) GoFundMe or Kickstarter than you are to put it into a cup in the metro. And that's fine. It's your money, you get to do what you want with it. Allow me to make a case for giving that money to the scavengers though.


What percent of homeless people d

set up a local office in which you can buy tokens that you can then give to the homeless
you can buy with a credit card so you more or less remain cashless
maybe something like the ttc tokens
they bring in the tokens to the office
sell them from the metro stations
they come in and they are 
scavenger
what are you going to do with change
the case for using cash
temporaly their lives don't really resemble ours
no sleeping in on the weekends

{% endblock %}