<p>
    Two people:
    - Larry David
    - Tom Cruise
    Larry David is notorious for being one the most neurotic
</p>
<p>
    honesty is good
    it ensures that positive relationships can grow in a positive direction
    somewhat counter-intuitively though, a lot of really negative stuff has to happen to make moves in a positive
    direction
    and if the relationship is negative, honesty *should* make this relationship go in a negative direction until it has
    ended.
    there are infinite events and interactions involving you which may make people have a negative opinion of you,
    typically owing to one of three things:
    the content (what was done or said)
    the tone (how it was done or said)
    the perception (the filter of the receiver)
    sometimes this is your fault, sometimes it's theirs, most times its somewhere in between
    if you are an honest person, you are more than capable of making this distinction
    there are two different actions that you can take from here:
    figure out how you can change for the better so that
</p>
<p>
    but they rarely have a need to excuse themselves because they possess a level of introspection that allows them to
    be aware of the shortcomings and to what degree they can be controlled.
</p>