Give people 3 hours for routine checkups specific to who you are.
Should men over 40 get routine checkups for prostate cancer?
You as a government obtain a list of clinics that would best serve an individual
automatically schedule the appointment
let the man know
give him X hours paid time off
the patient arrives, checks in, that information gets sent to the government offices
if you don't show up you don't get paid

we need to think who are we catering to:
people who don't like hassle
we need a convenient option
do you remember the last time you went to the bank to deposit a cheque?
no, neither do it. Because it's incredibly inconvenient
poor people working for minimum wage (money too important than going to a checkup for something you might not have)
no means of transport other than public transport (credit?)
people with disabilities (may need to take a lot of time to get to and from the appointment)

goal:
do we actually want preventative medicine?
scheduling of checkups will find the issue when it's minor as opposed to catching it way too late
less time taken up things we could have prevented 

