#Article {
  background-color: white;
  box-shadow: var(--ombre-article);
  margin-bottom: 1em;
  padding-bottom: 1em;
}

#EnTeteArticle {
  margin-bottom: 2em;
}

.marge-article,
#TexteArticle >:not(img):not(.image-recip) {
  margin-left: 1.3rem;
  margin-right: 1.3rem;
}

#TexteArticle img,
#TexteArticle div img{
  max-width: 100%;
}

#TexteArticle .image-recip{
    margin: 3em auto;
    width: fit-content;
}

#Categorie {
  text-decoration: none;
}
#Categorie div{
  width: fit-content;
  padding: 0.3em;
  color: white;
  background: var(--okenney-blue);
}

#RecipGrosTitreArticle {
  margin-top: 2em;
  margin-bottom: 2em;
}

#TitreArticle {
  font-size: 1.8em;
  line-height: 1.3;
}
#SoustitreArticle {
  margin-top: 1em;
}

#SoustitreArticle,
#TexteArticle {
  font-size: 17px;
  line-height: 1.8;
}

.imleg-legende {
  width: fit-content;
  margin: 0.5em auto;
  color: grey;
  line-height: 1;
  font-size: 0.8em;
}

.article-recip-image {
  display: grid;
  grid-template-areas: "img";
}
.article-recip-image img {
  width: 100%;
  grid-area: img;
}

#TexteArticle a {
  text-decoration: none;
  line-height: 1;
  position: relative;
  z-index: 0;
  display: inline-block;
  padding: 5px 5px;
  overflow: hidden;
  color: #333;
  vertical-align: bottom;
  transition: color .3s ease-out;
}

#TexteArticle a::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  transform: translateY(calc(100% - 2px));
  width: 100%;
  height: 100%;
  background: var(--okenney-blue);
  transition: transform .25s ease-out;
}

#TexteArticle a:hover {
  color: #fff;
}
#TexteArticle a:hover::before {
  transform: translateY(0);
  transition: transform .25s ease-out;
}

@media (min-width: 40em) {

  #Article {
    margin-top: 2em;
    --ecart-min: 8%;
  }

  #RecipGrosTitreArticle {
    margin-top: 2em;
    margin-bottom: 4em;
  }

  .marge-article,
  #TexteArticle >:not(img):not(.image-recip) {
    margin-left: auto;
    margin-right: auto;
    width: calc(100% - 2 * var(--ecart-min));
    max-width: 40rem;
  }

  #TitreArticle {
    font-size: 2em;
  }

  #SoustitreArticle,
  #TexteArticle {
    font-size: 18px;
  }

}

@media (min-width: 64em) {

  #TitreArticle {
    font-size: 2.4em;
  }

}
