#Article {
  background-color: white;
  box-shadow: var(--ombre-article);
}

#EnTeteArticle {
  margin-bottom: 2em;
}

#RecipGrosTitreArticle {
  margin: 1em 1em;
}

#TitreArticle {
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1.3;
}
#SoustitreArticle {
  margin-top: 1em;
  font-size: 20px;
}

#RecipTexteArticle {
  margin: 0 1em;
  font-size: 16px;
}

.imleg-legende {
  color: grey;
  line-height: 1;
  font-size: 0.8em;
  margin: 0.5em 1em;
}

.article-recip-image {
  display: grid;
  grid-template-areas: "img";
}
.article-recip-image img {
  width: 100%;
  grid-area: img;
}

@media (min-width: 40em) {
  #RecipGrosTitreArticle {
    margin: 1em 3em;
  }
}
