:root {
  --unselected: white;
  --unselected-shadow: #bfbfbf;
  --okenney-orange-faintest: #ffd2b3;
  --okenney-orange-light: #ffa366;
  --okenney-orange: #ff751a;
  --okenney-orange-strong: #cc5200;
  --okenney-purple-light: #C6A3FF;
  --okenney-purple: #650ef0;
  --okenney-purple-faded: #650ef063;
  --okenney-purple-dark: #3a265a;
  --okenney-purple-dark-faded: #3a265a6e;
  --okenney-purple-grey: #584f67;
  --okenney-blue-light: #A0C7CF;
  --okenney-blue: #5C9EAD;
  --okenney-dark-blue: #37636D;
  --button-border-radius: 10px;
  --ecart-articles: 1.2em;
  --ombre-article-apercu: rgba(0, 0, 0, 0.16) 0px 4px 6px -2.4px;
  --ombre-article:  rgba(0,0,0,0.16) 0 2px 4px 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

.border-br {
  border-bottom-right-radius: var(--button-border-radius);
}
.border-bl {
  border-bottom-left-radius: var(--button-border-radius);
}
.border-tr {
  border-top-right-radius: var(--button-border-radius);
}
.border-tl {
  border-top-left-radius: var(--button-border-radius);
}
.rounded-b {
  border-bottom-right-radius: var(--button-border-radius);
  border-bottom-left-radius: var(--button-border-radius);
}
.rounded-t {
  border-top-right-radius: var(--button-border-radius);
  border-top-left-radius: var(--button-border-radius);
}
.rounded-l {
  border-top-left-radius: var(--button-border-radius);
  border-bottom-left-radius: var(--button-border-radius);
}
.rounded-r {
  border-top-right-radius: var(--button-border-radius);
  border-bottom-right-radius: var(--button-border-radius);
}
.rounded-all {
  border-bottom-right-radius: var(--button-border-radius);
  border-bottom-left-radius: var(--button-border-radius);
  border-top-right-radius: var(--button-border-radius);
  border-top-left-radius: var(--button-border-radius);
}

.okenney-button,
.toggle-button-unselected {
  background: var(--unselected);
  outline: none;
}
.okenney-button:active,
.toggle-button-selected {
  background: var(--okenney-orange-light);
  -webkit-box-shadow: inset 0px 0px 10px var(--okenney-orange-strong);
  -moz-box-shadow: inset 0px 0px 10px var(--okenney-orange-strong);
  box-shadow: inset 0px 0px 10px var(--okenney-orange-strong);
  outline: none;
}

#EnTete {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#OKLogo {
  margin-left: 0.8em;
  display: block;
  margin-top:auto;
  margin-bottom:auto;
}
.en-tete-loupe {
  cursor: pointer;
  margin-right: 0.4em;
}
.en-tete-loupe.ferme path {
  display: none;
}
.en-tete-loupe line {
  stroke-linecap: round;
}
.en-tete-loupe circle {
  fill: var(--okenney-orange);
}
.en-tete-loupe.ouvert circle {
  filter: url(#shadow);
}
.en-tete-loupe.ouvert line {
  filter: url(#shadow90);
}
.en-tete-loupe.ouvert line {
  transform: rotate(-90deg) translate(-50px);
}

#BasDePage {
  font-size: 0.7em;
  margin-top: 3em;
  padding-bottom: 1em;
  text-align: center;
}
