.article-preview {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1em;
  text-decoration: none;
}
.article-preview .image-recip {
  height: 6em;
}
.article-preview .image-recip img {
  height: 100%;
}
.article-preview-text {
  flex: 1;
  align-self: center;
  color: #222;
}
.article-preview-titre,
.article-preview-description {
  margin: .5rem 1rem;
}
.article-preview-titre {
  font-size: 1rem;
  line-height: 1.05;
  letter-spacing: -1px;
}
.article-preview-titre:hover {
  text-decoration: underline solid #717171;
}
.article-preview-description {
  display: none;
  font-size: 1em;
}
.article-preview-description p {
  margin:0;
}

.refaconneur {
  display: grid;
  grid-template-areas:
    "haut"
    "milieu"
    "bas";
}

.articles-a-lune{
  grid-area: haut;
}

.principale {
  border-bottom: 2px dotted var(--okenney-purple-dark);
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1em;
}
.principale .article-preview {
  display: block;
  padding-bottom: 0;
}
.principale .article-preview-titre {
  font-size: 1.8em;
}
.principale .article-preview-description {
  display: block;
}
.principale .article-preview .image-recip {
  height: auto;
}
.principale .article-preview img {
  width:100%;
  height:auto;
}

.articles-a-lune .deux-prochaine {
  padding-top: 1em;
}


.acceuil-stats {
  grid-area: bas;
  padding: 1em;
  align-content: space-between;
}
.acceuil-stats .acceuil-recip-graphiques {
  height: 10em;
}


.deuxieme-page {
  grid-area: milieu;
  width:100%;
  display: flex;
  flex-direction: column;
}
.deuxieme-page .article-preview:last-of-type {
  padding-bottom: 0;
}
.deuxieme-page .article-preview-text {
  align-self: center;
}


@media (min-width: 40em) {
  .articles-a-lune {
    display: grid;
    grid-template-areas:
      "principale deuxieme"
      "principale troisieme";
    grid-template-columns: 60% 1fr;
    column-gap: 1.5em;
    padding-bottom: 2em;
  }

  .articles-a-lune .article-preview-titre,
  .articles-a-lune .article-preview-description {
    margin: 0;
  }

  .principale {
    grid-area: principale;
    margin: 0;
    padding-bottom: 0;
    border-bottom: none;
  }
  .principale .article-preview-titre {
    font-size: 2em;
    font-weight: bold;
  }

  .articles-a-lune .deux-prochaine {
    padding: 0;
  }
  .articles-a-lune .deux-prochaine .article-preview {
    display: block;
  }
  .articles-a-lune .deux-prochaine .article-preview:first-of-type {
    margin-bottom: 1em;
    border-bottom: 2px dotted var(--okenney-purple-dark);
  }
  .articles-a-lune .deux-prochaine .article-preview-titre {
    font-size: 1.15em;
  }
  .articles-a-lune .deux-prochaine .image-recip{
    height: auto;
  }
  .articles-a-lune .deux-prochaine img{
    width: 100%;
  }

  .deuxieme-page .article-preview {
    padding: 1em 0;
    border-bottom: 2px dotted var(--okenney-purple-dark);
  }
  .deuxieme-page .article-preview:last-of-type {
    border-bottom: none;
  }
  .deuxieme-page .image-recip {
    height: 12em;
  }
  .deuxieme-page .article-preview-text {
    align-self: start;
  }
  .deuxieme-page .article-preview-titre {
    font-size: 1.4rem;
  }
  .deuxieme-page .article-preview-description {
    display: inherit;
  }
}

@media (min-width: 64em) {
  .acceuil-stats{
    grid-area: milieu;
  }

  .deuxieme-page {
    grid-area: bas;
    border-top: 2px dotted var(--okenney-purple-dark);
  }
}
