.article-preview {
  text-decoration: none;
}
.article-preview-text {
  color: #222;
}
.article-preview-titre,
.article-preview-description {
  margin: .5rem 1rem;
}
.article-preview-titre {
  font-size: 1.8rem;
  line-height: 1.05;
  letter-spacing: -1px;
  font-weight: bold;
}
.article-preview-titre:hover {
  text-decoration: underline solid #717171;
}
.article-preview-description {
  font-size: 1em;
}
.article-preview-description p {
  margin:0;
}

.article-a-lune {
  border-bottom: 2px dotted var(--okenney-purple-dark);
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1em;
}
.article-a-lune .article-preview {
  margin-bottom: 1em;
}
.article-a-lune .article-preview img {
  width:100%;
}

.acceuil-stats {
  display: none;
  padding: 1em;
  align-content: space-between;
}
.acceuil-stats .acceuil-recip-graphiques {
  height: 10em;
}

.articles-plus-vieux {
  width:100%;
  padding-top: 1em;
  display: flex;
  flex-direction: column;
}
.articles-plus-vieux .image-recip {
  height: 6em;
}
.articles-plus-vieux .image-recip img {
  height: 100%;
}
.articles-plus-vieux .article-preview-text {
  flex: 1;
}
.articles-plus-vieux .article-preview {
  display: flex;
  justify-content: space-between;
}
.articles-plus-vieux .article-preview {
  padding-bottom: 1em;
}
.articles-plus-vieux .article-preview:last-of-type {
  padding-bottom: 0;
}
.articles-plus-vieux .article-preview-text {
  align-self: center;
}
.articles-plus-vieux .article-preview-description {
  display: none;
}
.articles-plus-vieux .article-preview-titre {
  font-size: 1rem;
}

@media (min-width: 40em) {
  .article-a-lune {
    margin: 0;
    padding-bottom: 1em;
  }

  .articles-plus-vieux {
    padding-left: 1em;
    padding-right: 1em;
  }

  .articles-plus-vieux .article-preview {
    margin-bottom: 1em;
  }
  .articles-plus-vieux .image-recip {
    height: 12em;
  }
  .articles-plus-vieux .article-preview-text {
    align-self: start;
  }
  .articles-plus-vieux .article-preview-titre {
    font-size: 1.4rem;
  }
  .articles-plus-vieux .article-preview-description {
    display: inherit;
  }
}

@media (min-width: 64em) {
  .acceuil-stats {
    display: flex;
  }

  .articles-plus-vieux {
    border-top: 2px dotted var(--okenney-purple-dark);
  }
}
