.article-preview {
  display: grid;
  grid-template-columns: min-content 1fr;
  margin-bottom: 1.2em;
  text-decoration: none;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 4px 6px -2.4px;
}
.article-preview .image-recip {
  height: 6em;
  display: grid;
  grid-template-areas: "img";
}
.article-preview .image-recip img {
  height: 6em;
  grid-area: img;
}
.article-preview-text {
  flex: 1;
  align-self: center;
  color: #222;
}
.article-preview-titre,
.article-preview-description {
  margin: .5rem 1rem;
}
.article-preview-titre {
  font-size: 1rem;
  line-height: 1.25;
}
.article-preview-titre:hover {
  text-decoration: underline solid #717171;
}
.article-preview-description {
  display: none;
  font-size: 1em;
}
.article-preview-description p {
  margin:0;
}

.articles-plus-vieux {
  width:100%;
  display: flex;
  flex-direction: column;
}
.articles-plus-vieux .article-preview:last-of-type {
  margin-bottom: 0;
}
.articles-plus-vieux .article-preview-text {
  align-self: center;
}

#Refaconneur {
  display: grid;
  grid-template-areas:
    "haut"
    "milieu"
    "bas";
}

#ArticlesALune{
  grid-area: haut;
}

#ArticlePrincipal {
  margin-left: auto;
  margin-right: auto;
}
#ArticlePrincipal .article-preview {
  display: block;
  padding-bottom: 0;
}
#ArticlePrincipal .article-preview-titre {
  font-size: 1.3em;
}
#ArticlePrincipal .article-preview-description {
  display: block;
  padding-bottom: 1em;
}
#ArticlePrincipal .article-preview .image-recip {
  height: auto;
}
#ArticlePrincipal .article-preview img {
  width:100%;
  height:auto;
}

#AcceuilStats {
  grid-area: bas;
  padding: 1em;
  align-content: space-between;
}
#AcceuilStats .acceuil-recip-graphiques {
  height: 10em;
}

#DeuxiemePageDarticles {
  grid-area: milieu;
}

@media (min-width: 40em) {
  #ArticlesALune {
    display: grid;
    grid-template-columns: 60% 1fr;
    margin-top: 1em;
    margin-bottom: var(--ecart-articles);
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 4px 6px -2.4px;
    --taille-ecart: 0.7em;
    --frontiere-a-lune: 2px dotted var(--okenney-purple-dark-faded);
  }

  #ArticlesALune .article-preview {
    margin-bottom: 0;
    box-shadow: none;
  }

  #ArticlesALune .article-preview-text {
    padding-top: 1em;
  }

  #ArticlesALune .article-preview-titre,
  #ArticlesALune .article-preview-description {
    margin: 0;
  }

  #ArticlePrincipal {
    border-right: var(--frontiere-a-lune);
    margin: var(--taille-ecart) 0;
    padding-left: var(--taille-ecart);
    padding-right: var(--taille-ecart);
  }
  #ArticlePrincipal .article-preview-text {
    margin: 1em;
    padding: 0;
  }
  #ArticlePrincipal .article-preview-titre {
    padding-bottom: 0.5em;
    font-size: 1.5em;
    font-weight: bold;
  }

  #DeuxProchainsArticles {
    padding: var(--taille-ecart);
  }
  #DeuxProchainsArticles .article-preview {
    display: block;
  }
  #DeuxProchainsArticles .article-preview:first-of-type {
    padding-bottom: var(--taille-ecart);
    border-bottom: var(--frontiere-a-lune);
  }
  #DeuxProchainsArticles .article-preview:last-of-type {
    padding-top: var(--taille-ecart);
  }
  #DeuxProchainsArticles .article-preview-titre {
    font-size: 1.15em;
  }
  #DeuxProchainsArticles .image-recip{
    height: auto;
  }
  #DeuxProchainsArticles img{
    height: auto;
    width: 100%;
  }

  .articles-plus-vieux .article-preview {
    padding: 1em 0;
  }
  .articles-plus-vieux .image-recip,
  .articles-plus-vieux .image-recip img {
    height: 12em;
  }
  .articles-plus-vieux .article-preview-text {
    align-self: start;
  }
  .articles-plus-vieux .article-preview-titre {
    font-size: 1.4rem;
  }
  .articles-plus-vieux .article-preview-description {
    display: inherit;
  }
}

@media (min-width: 64em) {
  #ArticlesALune {
    margin-bottom: 0;
  }

  #AcceuilStats{
    grid-area: milieu;
  }

  #DeuxiemePageDarticles {
    margin-bottom: var(--ecart-articles);
  }

  #DeuxiemePageDarticles {
    grid-area: bas;
  }
}
