:root{
    --header-height: 50px;
}

body {
    margin:0px;
    width:100%;
}
.header{
    background-color: #FF9447;
    text-align: center;
    height: var(--header-height);
}
.title {
    padding-top:10px;
    width: auto;
    font-size: 25px;
    font-weight: bold;
    color: white;
}

.editor-container {
    overflow: auto;
    width: 100vw;
    height: calc(100vh - var(--header-height));
}
