body {
    margin:0px;
    width:100%;
}
#floatingHeader{
    width: 100%;
    position: absolute;
    z-index: 100;
    display: flex;
    justify-content: space-between;
}
.buttons-container{
    padding: 10px;
    display:flex;
}
.sketch-button {
    padding:5px;
}
/* make separate style for selected toggle button */
.editor-container {
    overflow: auto;
    width: 100vw;
    height: 100vh;
}
