body {
    margin:0px;
    width:100%;
}
.header{
    background-color: #FF9447;
    text-align: center;
    height: 50px;
}
.title {
    padding-top:10px;
    width: auto;
    font-size: 25px;
    font-weight: bold;
    color: white;
}

.editor-container {
    overflow: auto;
    width: 100vh;
    height: 100vh;
}
