pick a problem and add it to the problem pile
    pick a piece from the pile of problems
    what's the goal
    can it be broken down into sub-problems?
    yes
        - identify the pieces
        - do you already have solutions to these pieces?
            yes: 
                - take the problem out of the pile
            no:
                - put the whole problem back on the pile
                - add the pieces to the pile, right on top of the parent problem
        - go to top
    no
        - do tools exist to solve this problem
        yes:
            - try to use those tools
            - did that give good results for that problem?
            yes:
                - store the solution
                - take the problem out of the pile
                - go to start
            no:
        no:
        and will exist soon enough