Why I'm cash heavy

Up until about the summer of 2018, I was a credit card guy through and though. I had always paid it off in time,

this wasn't a matter of not trusting myself with money

it was more that I was getting afraid of how much information was being gathered about me by god knows how many private corporations (and likely some public institutions)

what's more, it's much easier to support your local enconomy when you can't hand amazon a c-note through your usb port

point 3: c-notes. how many of your purchases have been for over $100 recently? imagine walking in to best buy with $8 100-dolar bills to buy that 4K TV

can you imagine the looks you'd get?

But that's what you're doing, spending the better part of a thousnads dollars

but you it's difficult to recongize it when it's all just numbers on a computer screen

homan brains weren't made to conceive of scale by numbers
tell a chimp that there's 5000 bananas (or whatever they eat) 300 minutes away and their head will explode
