{% extends "layout.html" %}

{% block title %}
<title></title>
{% endblock %}

{% block description %}
<meta name="description"
    content="Regardless of who you are or what life you lead in the 20s, you will experience the effects of a siesmic shift in how the world functions. How it affects you depends on your lucidity, location and luck.">
{% endblock %}

{% block head %}
{% endblock %}

{% block content_column %}
About four years ago I was walking around town with a friend who was visiting. Eventually we got around to some
debating.

And when I say "eventually" I mean "within 10 minutes."

You see, this guy's a philosophan. Books, meetups, subreddits. The whole sheebang. And the thing about philosophy is
that there's not much value in agreement. You either take an idea one step further or refute it. Brainstorm, disect or
question, that's it.

It's for this reason that questions in philosophical conversations are less like

"Isn't it neat how morality is objective?"

and more like

"How does this differ from Dead European Guy's definition of 'the self'?""

The subject of this particular pronate-n-debate was

Free Will TM

That is, do "you" have "control" over "your" actions "?"

The answer is simple, right? Of Course I do.
I want to move my pinky, my brain sends the signals down through my arm, and said pinky promptly moves.
Case closed.

It felt good to be right, to have my beliefs challenged and to come out knowing that I was still special.
Not content to let me be happy, my friend started in with the questions:

"Would you say your thoughts are determininstic?"
"Well, no."
"How about random?"
"Certainly not."
"So if they're not deterministic and they're not random, what are they?"
"Something in between."
"Is there anything in the universe that is neither random nor deterministic?"
"Well, no, but -- "
"If I made a complete replica of Alf -- down to the atom -- and placed each of you in identical scenarios would the Alfs
behave any differently?"
"The *same* Alfs in the *same* scenario?"
"Yes"
"Well I mean...my thoughts would be different"
"Why is that? Where do your thoughts come from?"
"From...my brain"
"And what causes those thoughts to arise?"

Uh oh, suddenly this wasn't feeling so good any more. My thoughts have to be
created by myself right? I must have some sort of final judgement on how to think and act
because... I don't know. I can just feel myself thinking. I'm not a machine that's
programmed to behave a certain way. I'm unique, we all are. Right?

It was too late; the idea was already burrowing into my brain and making little idea babies.

This portion of the walk was more or less silent.
My friend had stopped talking, peferring to let me stew in my own thought. Indeed, anyone looking at my face could tell
that the gears were turning far too quickly at that moment for any engagement to be worthwhile.
He waited me out as I grunted like a neanderthal.

Where *do* my thoughts come from? Something can't come from nothing and every result has causes.
What makes a billiard ball move? Well, the momentum of another billiard ball.
Put a bit more formally: the current physical state of the universe is nothing more than the the result of sequences of
chemical and physical reactions that stretch out over billions of years, all the way back to the Big Bang.

And... what is a thought anyways?
Is it physical?
It must be, otherwise it's... what, a brain ghost? (Shout-out to my boy G. Ryle)
But ghosts aren't real (right? RIGHT? D:), so it must be physical.
So if it's physical that must mean it can be observed.
And if *it* can be observed then so -- too -- can the causes that lead to it
...and the causes that lead to those causes
...and their causes too.

The next question is: what are these causes? What are the inputs in the equation that outputs "pinky moves"?
They will inevitably fall under three categories
1) My physical self. The position of atoms that form my body.
2) Internal stimuli. The reactions that occur between parts of my body and things that are inside of my body, but not a
part of my body (e.g., hormones, electricity, ill-advised 3 am pizza slices)
3) External stimuli. The reactions that occur between things outside of my body (e.g., a snowball) and parts of my body
(e.g., my face)

Obviously, none of these 3 ingredients is static (the brain is plastic, hormone levels fluctuate, trees fall in forests
-- maybe), but that's all there is to observe when we're talking things that can affect how our brain functions.

Now it's time for the time-honoured tradition of colourful simplification in order to communicate an idea.

Your gut reaction to reading that might have been to scoff at the idea of trying to simplify a complex subject.
I'm sorry, but have you ever heard a scientific concept described with all the its dry complexity?
Science communication is absolutely rife with simplifications
(carl sagan brain lirbary)
(richard feynman fire)
If we all demanded that Neil Degrasse Tyson used higher order-polynomials when he describes the motion of stars in a
galaxy, you wouldn't know who Neil Degrasse Tyson is. Having been chewed up and spit out by the acedemic industrial
complex, I can tell you that if you find someone who's willing to pay attention to the minutae of a PhD dissertation,
you're probably talking to the person that wrote it.
So chill the fuck out and roll with me.

So why is Alf O'Kenney "deciding" to move his pinky any different than a lightbulb "deciding" to turn on?

Let's say we have a decision, or even more broadly, a thought.
Let's say this thought is "The concept of global warming was created by and for the Chinese in order to make U.S.
manufacturing non-competitive."
https://twitter.com/realdonaldtrump/status/265895292191248385?lang=en.
Wonderful.
We'll represent this thought by -- what else -- a lightbulb and we'll say that when this lightbulb is on, we are able to read
our thought

Note that this lightbulb isn't on right now meaning that this thought is inactive. Maybe we're thinking about something
else, like
https://twitter.com/realdonaldtrump/status/266259787405225984?lang=en
It's freezing and snowing in New York--we need global warming!
or maybe we're not thinking at all. Whatever the case, this lightbulb is not on.

But why? Well, for starters there's no power source connected to this lightbulb.

We'll just add a socket, plug it into the outlet aaaand, there we go!
Darn Chinese and their ability to manipulate the scientific method of people they've never met.

But now the bulb is always on. No matter how briliant this thought is, we need to think about other things from time to
time. How about we add a switch. Now we can send full power to the lightbulb or none at all by toggling the switch.

Believe it or not, but this is a (very basic) model of a neuron, one of billions that exist in our brain, each acting as a
traffic light for electrical information.

Our lightbulb neuron has two inputs:
switch state (ON/OFF)
power from the wall

and one output:
lightbulb state

we can even describe the results with a simple algorithm (draw as well?)

if (switch = ON and power = ON)
think thought
otherwise
do not think thought

A simple approximation like this is nice, but the real fun start when we replace the ON/OFF switch with a dimmer switch.

Look at that, we can change the amount of power going into the bulb control how strong the light or idea is.

"You've got your head WAY up your ass with this analogy, Alf. You can't *kinda* have an idea. You either have it or you
don't."

Hmmm, you have a point there. But what about that feeling where a word is on the tip of your tongue? The thought is there, it's just in a haze, behind a curtain. Kind of like when the light is too dim to read.
That's gotta count for something though. You're not *actually* thinking that word. You're just maybe 60% there.
On the other side, some things like a smell or a name are so familiar that the thoughts of them are extremely strong
the name of you'll call your child
the smell of your grandmother's perfume
the sound of your mother's voice

Try to half think the sound of the voice of someone who has loved and cared for you for the 18 (to 30) years of your life.
good luck

So how about this:
we'll say that when the power coming out of the switch is above some amount, we'll call that a full thought
it's there. the lightbulb is bright enough for you to sufficiently experience your surroundings
everything else is just (potentially annoying) noise

fuck, was his name Kevin? Or Keith? I know it started with a K. Goddammit -> 70% (figure skating scores gif)
bud suddenly the inputs increase
.......Karl! -> 100%

As you might imagine, unlike the lights in your home, a neuron can have many sources of energy
so let's add a second line, and a third and a fourth, so that instead of loooking like this:

our light bulb neuron looks like this:

and all the sources of energy combine to produce the light, to produce the thought

even if we turn all these knobs down to zero and just keep one at maximum
there's enough energy to create the light we need to see our surroundings

a human thought is way way too complex to represent
at least an adult human thought

What about a baby thought

can we agree that a human being, still in its mother's womb has no sense of:
joy
anger
distrust
jealousy
fairness
lust

You know contentness and discontentness
when you're in the former state, all is good, so you do nothing
when you're in the latter state, you have no way of differentiating the different things that might ail you,
but you have one means of alerting your caretakers that something's no right
you cry and wobble
you can't indicate what's wrong because you don't even know what about your current state *is* wrong
that's for others to find out

this is why parents are often frustrated with newborns

diaper good? no
food in belly? no
room too loud? no
room too bright? no
not enough singing? no
what is it then?!?!?!

maybe it's a stomache ache and no one can see

but straight out of the womb, there's no way to articulate the multiple ways things can make you uncomfortable
you're just using the only tool you have to try as best as you can to get back to the comfort state that you
were in a couple days ago.

such a mind can be approximated with a simple algorithm

content?
    do nothing
else
    cry and wobble

remind you of anything?

it's not a stretch to imagine that the brain can be distilled down into an average neuron
this average neuron receives the GOOD/BAD input and outputs signals to the motor and respiratory systems, neither of which centers of the brain are developped enough to control with any degree of acuity, so it all looks like ON/OFF noise rather than say, 
speech
or sign language
or getting up by yourself to go make a sandwich because you're 25 years old goddammit

you may reply:
"well what about this magical-ass shit?"

(video of baby crawling)

true, there does appear to be some slightly-more advanced goal-oriented stuff at work here
but hatchlings are capable of something like this, so let's not get ahead of ourselves

also, that's not exactly a slam dunk, as I'm sure most new parents who've tried that can attest to



we're really coming back to the idea of someone born into the void with no way to sense the world around them
(shout out )

so lets perform a thought experiment in that vein

you're born into the void, floating in space with no sense of touch, sight, smell, taste

by what mechanism would thought first arise?

how can you have an internal monologue when you
a) have never received any audio input
b) do not have a concept of language
c) cannot relate to anything (what is fear? size? age? noise?)

baby thought
pain

but what if we think about our ancestors

not an ape
not a fish
not even a whatever the hell this is (acorn worm)

no, we're talking about one of the earliest ancestors of 



no, we're talking about an organism so ancient that its senses are limited to 

luminotherapy

audit a neurology class


here's your eye

this collection of cells lighting up at once is where we can say the reception of the signal "change of darkness" 


what if we had many 


We just say that 
If there's more than
yeah, but we don't know about about the state of the wire, switch, bulb? Are they old? Are the materials worn out ..."
If so: look at you, ya big scientist with your sexy intuition. Bravo :)
It turns out that the same issues apply to neurons
So how would we more accurately define this system if we wanted to include these variables

congratulations: you now have a rudimentary understanding of Machine Learning and AI (we'll come back to this in a bit)

How can we say that a thought or a decision isn't free will. You can't measure free will.

what is an idea?


read about imagination

just because you can't see an emotion or a thought like you can with macromovements like moving a pinky doesn't mean it isn't controlled by the same process

if you make a decision in a dream, is that from free will or are you following a script?
How can you exert free will in a dream without realizing you're doing it?
if it's not free will, then where are the decisions coming from?

thoughts probably evolved too
it's not like we suddenly had some sort of visualization
dogs and cats can dream, that must mean they can think or imagine, Right?
the imagination portion of the brain can't only be operating when you sleep

How do we make this lightbulb light up

traffic light
measure enough cars, switch sides

ends connected to hands, legs, temperature, eyes

all ends connect to different thoughts/tweets

there are infinite number of thoughts, but each is the result of some chain of switches

wiki page for emotions

which animals have free will

if we took your brain out and plopped it into a machine, would you still think the same

what about if we removed the reptilian portion

what about the other portions until all we're left with is the cerebral cortex?




go through the switch and lamp example
expand to many switches
some of the switches to take an on off, but instead require a certain level of energy to turn on

talk to neurologists

randomness

you are the product of your past
correct
but if you build in this past to the body (including the brain), the future will be the same

implications

what's the purpose of jails?
what does it mean for something to be morally wrong?


parallels with Blade Runner.
{% endblock %}