pool with a bunch of proteins
lots of replications
a huge amount of random connections caused solely by enough energy to get over the bonding hill
most will just make other random connections or fall apart
start off with pairs
maybe you get some triads
most amount to nothing
even the ones that make copies of themselves aren't any more likely to self replicate
but maybe for some combinations, the probability of self-replication is more likely
with enough time, it's plausible that longer combinations are found that are statistically more likely than the previous generation to attract the right parts to make an exact copy of itself
would be imprefect very likely replication once you're up to anything more than 5,
but now you're starting to get all sorts of permutations of chains of your length or more
maybe protein 4 of 10 gets swapped by accident one day because there was an unusually high amount of energy in the water and an abnormally large number of whatever that protein is
but good gracious, turns out that swap bumped up our self replication rate up 20%
...to 0.02% probability

obviously probability for self replication is higher for 2-protein chains
but how likely are you to stay as a 1 or 2-protein chain with that amount of heat?

if on average a chain is spitting out more than one of something similar then your numbers
are expanding (again, with mutations).



how long are DNA chains?

maybe they get up to 1% probability of self-replication in their lifetime
a few more centuries go by and we get up to 1.3%
we're no longer random noise, we can actually see some combinations breaking away from the pack