<!DOCTYPE html>

<html>
  <head>
    <title>A Better Imperfect</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="/styles/homepage.css">
    <link href="https://fonts.googleapis.com/css?family=Acme|Bree+Serif|Eczar|Merriweather+Sans|Josefin+Sans&display=swap" rel="stylesheet">
    <!-- jQuery -->
    <script src="/libs/jquery-3.4.1.min.js"></script>
    <!-- Other stuff -->
    <!-- <script async src='https://pol.is/embed.js'></script> -->
    <script type="text/javascript" src="/scripts/homepage.js"></script>
  </head>
  <body>
    <div>
    <div id="title-bar">
    <!-- Here be options -->
      <div id="title-text">
        <div class="first-name">Alf</div>
        <div class="last-name">O'KENNEY</div>
      </div>
    <!-- Here be search bar and help -->
    </div>
    <div id="test-text">
      <p class="roboto">
        We really need a better means of communication between the elected and the electorate. Time and again people come into council meetings and complain about how they never received word about a certain subject that was of great interest to them.
        Even if someone follows their elected official on Twitter or Facebook or myspace, they
        still need to sift through the information that flows from those accounts to see if there's
        anything of interest to them.
      </p>
      <p>
        Maybe I'm especially interested in Milton Parc sports.
        </br>
        Maybe I really want to know when there will be road work that will affect Saint-Denis (aka the entire calendar year).
        </br>
        Maybe I'm a shut-in whos life revolves around 3 square blocks in the Mile End and I collect absynth spoons and italian volleyball cards.
      </p>
      <p>
        Whoever I am and whatever my interests are, there should be a way for me to get information about my topics of interest in my areas of interest immediately as that information becomes available (except the absynth spoon person; lets leave them be).
      </p>
      <p>
        We already associate a region and subject to all of the points of a given council meeting. How do we extend that information?
      </p>
      <p>
        Why, with a map that users can draw on to specify their interests, of course
      </p>
      <p>
        Here's an example of how it might look:
      </p>
      <img src="/images/pmr-carte.jpg"/>
    </div>
    <div class="topic-container">

        <!-- issues I care about -->
        <!-- <div class="topic-box-container"> -->
          <!-- <div class="topic-box"> -->
            <!-- <p>EgoPortrait</p> -->
          <!-- </div> -->
        <!-- </div> -->
      <!-- </div> -->
    </div>
    <!-- <div style="width: 80%"> -->
      <!-- <div class='polis' data-conversation_id='7rs6ekvhz7'></div> -->
    <!-- </div> -->
  </body>
</html>
