{% import 'macros/images/progressive/immediat.html' as images -%}

{% macro css() -%}
{{ images.css() }}
{%- endmacro%}

{% macro js() -%}
{{ images.js() }}
{%- endmacro%}

{% macro image_et_legende(legende='') %}
<div class="image-recip image-et-legende">
  {{ caller() }}
  <div class="imleg-legende">
    <span>{{legende}}</span>
  </div>
</div>
{% endmacro %}

{% macro article_apercu(details, image_recip_class) -%}
<a class="article-apercu" href="{{ details.filepath }}">
  {{ images.image_progressive(details.image_dir, image_recip_class)}}
  <div class="article-apercu-text">
    <div class="article-apercu-titre">{{ details.title }}</div>
    <div class="article-apercu-description">
      {{ details.description|safe}}
    </div>
  </div>
  <div class="article-apercu-metadata">
    <div clss="article-apercu-categorie">{{ details.category }}</div>
    <div class="article-apercu-date">{{ details.date_str }}</div>
    <div class="article-apercu-temps-a-lire">
      {{
        ((details.word_count + 1) / 200) | round(method='ceil') | int
      }} min read
    </div>
  </div>
</a>
{%- endmacro %}

{% macro article_apercu_js_builder(preview_fn_name, image_recip_class) %}

{% set prog_img_fn_name = 'progImg' %}
{{ images.image_progressive_js_builder(prog_img_fn_name, image_recip_class) }}

function {{preview_fn_name}}(details) {
    // Build the article preview.
    var $article = $(`
      <a class="article-apercu" href="${details.filepath}">
        <div class="article-apercu-text">
          <div class="article-apercu-titre">${details.title}</div>
          <div class="article-apercu-description">
            ${details.description}
          </div>
        </div>
        <div class="article-apercu-metadata">
          <div clss="article-apercu-categorie">${details.category}</div>
          <div class="article-apercu-date">${details.date_str}</div>
          <div class="article-apercu-temps-a-lire">
            ${ Math.ceil( (details.word_count+1) / 200 ) } min read
          </div>
        </div>
      </a>
    `);

    // Add in the progressively loaded image.
    // NOTE:
    // We might not need to progressively load here, but we do so just in case
    // it's a slow connection and the user is spamming scroll.
    $article.prepend( {{prog_img_fn_name}}(details.image_dir) );

    return $article;
}
{% endmacro %}

<!----------------------------- Infinite Scroll ------------------------------>

{% macro token_name() %}infinite-scroll-token{% endmacro %}

{% macro infinite_scroll_token() %}
<div class="{{ token_name() }}"></div>
{% endmacro %}

{% macro
    infinite_scroll(
        articles_api_url,
        batch_size,
        storage_selector,
        append_selector,
        image_recip_class,
        category=none,
        end_datetime=none
    )
-%}
<script>
    $( function() {
        var $token = $('.{{token_name()}}');
        var $storageContainer = $('{{storage_selector}}');
        var $toAppendContainer = $('{{append_selector}}');
        var win = $(window);
        var loading = false;
        var fullyLoaded = false;
        var requestData = {
            batch_size: {{batch_size}},
            {% if category is not none -%}
            category: '{{category}}',
            {% endif -%}
            {% if end_datetime is not none -%}
            end_datetime: '{{end_datetime}}',
            {% endif -%}
        };

        function tokenOnScreen() {
            var viewport = {
                top: win.scrollTop(),
                left: win.scrollLeft()
            };
            viewport.right = viewport.left + win.width();
            viewport.bottom = viewport.top + win.height();

            var bounds = $token.offset();
            bounds.right = bounds.left + $token.outerWidth();
            bounds.bottom = bounds.top + $token.outerHeight();

            return (
                !(viewport.right < bounds.left
                    || viewport.left > bounds.right
                    || viewport.bottom < bounds.top
                    || viewport.top > bounds.bottom
                )
            );
        };

        function moveArticles() {
            // Reach into the storage class and locate the stored articles.
            $storageContainer.children().each(function() {
                // Pop each of them into the appended article class.
                $toAppendContainer.append($(this));
            });
        }

        {% set builder_fn_name = 'buildArticlePreview' %}
        {{ article_apercu_js_builder(builder_fn_name, image_recip_class) }}

        function storeArticles(data) {
            data.forEach(function(item) {
                // Build the article.
                var $article = {{ builder_fn_name }}(item);

                // Append it to the on-deck articles.
                $storageContainer.append($article);
            });

            // Tell the progressive image facility to retrieve the bigger
            // images.
            win.trigger('progim');
        }

        function checkScrollLoading() {
            if (!fullyLoaded && !loading && tokenOnScreen()) {
                // Prevent this function from triggering again while we load
                // more articles.
                loading = true;

                // Shift the older articles into view.
                moveArticles();

                // Request even older articles.
                $.ajax({
                    url: '{{ articles_api_url }}',
                    data: requestData,
                }).done(function(data) {
                    if (data.length == 0) {
                        // Remove the token so that we don't keep trying to
                        // load articles that aren't there.
                        $token.remove();

                        // Just in case, add a software block as well to
                        // signify that we have no new articles to load.
                        fullyLoaded = true;

                        return;
                    }

                    // Store the older articles in the storage bay.
                    storeArticles(data);

                    // Update the time so that the next reply only includes
                    // article we've yet to display.
                    requestData.end_datetime = data[data.length-1].dtime;

                    // Allow further scrolling to trigger another load.
                    loading = false;

                    // The user may have already scrolled down while we were
                    // collecting more articles, so immediately try again.
                    checkScrollLoading();
                });

            }
        }

        $(window).scroll(checkScrollLoading);

    });
</script>
{%- endmacro %}

<!------------ button for hiding and showing pretentious thoughts ------------>
{% macro pretentieux() -%}
<style>
  .recip {
    /* margin: 0 1em; */
  }

  .bouton-recip {
    height: 2em;
    width: 100%;
    display: grid;
    grid-template-columns: 0.5fr 15em 0.5fr;
    grid-template-areas: 'left center right';
  }

  .bouton-recip .ombre {
    grid-area: center;
    position: relative;
    width: 15em;
    height: 1em;
    top: 100%;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: 2px 4px 6px 4px rgba(0, 0, 0, 0.25);
  }

  .bouton-recip .bouton {
    grid-area: center;
    position: relative;
    z-index: 20;
    top: 50%;
    height: 100%;
    width: 15em;
    background-color: rgb(165, 121, 121);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    cursor: pointer;
    display: grid;
    place-content: center;
  }

  .bouton-recip .bouton:active {
    box-shadow: inset 2px 4px 2px 1px rgba(0, 0, 0, 0.25);
  }

  .bouton-recip::before,
  .bouton-recip::after {
    display: block;
    content: "";
    height: 100%;
    width: 100%;
    background: white;
    z-index: 10;
  }

  .bouton-recip::before {
    grid-area: left;
  }

  .bouton-recip::after {
    grid-area: right;
  }

  .longue-recip {
    margin: 0 -0.5em;
    overflow-y: hidden;
  }

  .longue-recip .ombre {
    transition: box-shadow 0.5s ease-in-out;
  }

  .longue-recip.ouvert .ombre {
    box-shadow: none;
  }

  .long-recip:not(.ouvert) .bouton span {

  }

  .top-recip {
    position: absolute;
    margin: 0 auto;
    height: 1em;
    display: grid;
  }

  .longue {
    height: 1em;
    box-shadow: inset 2px 4px 6px 4px rgba(0, 0, 0, 0.25);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }

  .bas-recip {
    position: relative;
    height: 1em;
    top: -1em;
    display: grid;
    grid-template-columns: 0.5fr 15em 0.5fr;
    grid-template-areas: 'left center right';
  }

  .bas-recip::after {
    position: relative;
    display: block;
    content: " ";
    width: 100%;
    height: 100%;
    grid-area: 1 / 1 / 2/ last-line;
    top: 1em;
    background: white;
  }

  .bas-recip .blocker {
    background-color: white;
    box-shadow: 2px 4px 6px 4px rgba(0, 0, 0, 0.25);
  }

  .bas-recip .blocker-l {
    grid-area: left;
  }

  .bas-recip .blocker-r {
    grid-area: right;
  }

  .arrondi-gache-mil,
  .arrondi-droit-mil,
  .arrondi-gauche-haut,
  .arrondi-droit-haut {
    position: relative;
    width: 5px;
    height: 5px;
    border: 1px solid white;
  }

  .arrondi-gauche-haut,
  .arrondi-droit-haut {
    align-self: start;
    top: -5px;
  }

  .arrondi-gache-mil,
  .arrondi-droit-mil {
    align-self: end;
  }

  .arrondi-gauche-haut,
  .arrondi-gache-mil {
    grid-area: left;
    box-shadow: -2px 2px 0 white;
    border-bottom-left-radius: 5px;
    border-width: 0 0 1px 1px;
  }

  .arrondi-droit-haut,
  .arrondi-droit-mil {
    grid-area: right;
    box-shadow: 2px 2px 0 white;
    border-bottom-right-radius: 5px;
    border-width: 0 1px 1px 0;
  }

  .arrondi-gauche-haut,
  .arrondi-droit-mil {
    justify-self: left;
  }

  .arrondi-gache-mil,
  .arrondi-droit-haut {
    justify-self: right;
  }

  .arrondi-gache-mil {
    right: -5px;
  }

  .arrondi-droit-mil {
    left: -5px;
  }

  .longue .reveal {
    margin: 0 0.5em;
    /* background: white; */
    -webkit-transform: scale(0.98);
    -moz-transform: scale(0.98);
    -ms-transform: scale(0.98);
    transform: scale(0.98);
    transition: transform 0.5s ease-in-out;
  }

  .longue-recip.ouvert .reveal {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  .longue p:first-of-type {
    margin-top: 0;
    padding-top: 2em;
  }

  .longue p:last-of-type {
    margin-bottom: 0;
    padding-bottom: 1.5em;
  }

  .courte-recip p:first-of-type {
    margin-top: 0;
  }
</style>

<div class="recip">
  <div class="longue-recip">
    <div class="bouton-recip">
      <div class="ombre"></div>
      <div class="bouton">
        <span>ENABLE PRETENSION</span>
        <span style="display:none;">DISABLE PRETENSION</span>
      </div>
    </div>
    <div class="longue ombre">
      <div class="reveal">
        {{ caller(true) }}
        <div style="text-align: center;">tl;dr</div>
      </div>
    </div>
    <div class="bas-recip">
      <div class="blocker blocker-l ombre"></div>
      <div class="arrondi-gauche-haut"></div>
      <div class="arrondi-gache-mil"></div>
      <div class="arrondi-droit-mil"></div>
      <div class="arrondi-droit-haut"></div>
      <div class="blocker blocker-r ombre"></div>
    </div>
  </div>
  <div class="courte-recip">
    {{ caller(false) }}
  </div>
</div>
<script>
  $(function () {
    var $ARecip = $('.longue-recip');
    var $A = $('.longue');
    var $spansBoutons = $('.recip .bouton span');
    var height = $('.longue .reveal').height();
    var duration = height * 0.6;
    $('.recip .bouton').click(e => {
      if ($A.hasClass('transition'))
        return;

      // Prevent clicks until we're done moving.
      $A.addClass('transition');

      $spansBoutons.toggle();

      if (!$ARecip.hasClass('ouvert')) {
        // We're opening, so we first want to reveal the "descended"
        // text.
        $A.animate(
          { height: height },
          {
            duration: duration,
            done: function () {
              // Once we're done sliding, we can "raise" the text
              // by transition to no shadow.
              $ARecip.addClass('ouvert');
              // Wait for the open animation to finish, then
              // allow clicks again.
              $A.delay(duration).removeClass('transition');
            },
          }
        );
      }
      else {
        // We're closing, so we first want to "descend" the text by
        // adding the shadow. Wait for it to descent and then close the
        // text.
        $ARecip.removeClass('ouvert');
        $A.delay(duration)
          .animate(
            { height: '1em' },
            {
              duration: duration,
              done: function () {
                // Finally, we allow clicks again.
                $A.removeClass('transition');
              },
            }
          );
      }
    });
  });
</script>
{%- endmacro %}
