The Devil Wears Blue Jeans

https://www.cbc.ca/news/canada/montreal/bill-21-constitution-religious-symbols-school-laicity-1.5789618

Since it's proposal during the 2018 election campain, the amount of ink that
has been spilled debating Quebec's ban on religious symbols
would be more accurately measured in swimming pools than in words.

The entirety of this dicussion to date has centered around the morality and fairness of
the law. Does it discriminate again teachers (and students) in poorer,
immigrant-heavy communities? Is it necessary to ensure the state
is not seen as promoting (a) religion? Is it taking a stand against sexism or
is it unfairly affecting women?

The issue I have with the legality-based-on-morality approach is not that
neither of the ideologies being pushed by the respective sides is objectively
wrong. In reality, each camp's argument has merit, which is why so many voters
supported and continue to support the law and also why it will likely be
challenged from various angles until the federal government grows a spine.

Instead, I've come to realise that framing this discussion around morality in
the current political climate is a waste of time and energy. You and I can
count on zero hands the number of times we've witness a "yea" vote turn into a
"nay" vote and vice versa when it comes to hot-button issues like this.

We've also seen that whataboutism regarding Quebec's own symbolism is not the
ace in the hole that opponents of the law thought it would be. (https://globalnews.ca/news/5475505/quebec-national-assembly-crucifix-removed-july-2019/)

What's left to debate, then? Well, how about logic? One would hope that any
society which values reason over belief to this degree would be open to such a
discussion, so let's try that angle.

Section

For those who haven't been following along: first off, welcome to Quebec!
and/or I'm so sorry about your recent, years-long coma under a rock, and I wish you a speedy, rock-free recovery.

In political news from the before time, the 2018 provincial election in Quebec
saw the Coalition Avenir Québec (CAQ) -- a right-wing* populist party -- ride
the same wave of "the usual stuff isn't working and I'm not so sure about
immigrants" support that we're now all quite familiar with to a majority in the
National Assembly.

(* the CAQ define themselves as neither right- nor left-wing, neither
sovereignist nor federalist, neither Coke nor Pepsi. To hear the party
describe itself, they are an amorphous cloud of good times, propelled only by
the radiant waves of love for Quebec that eminate from the blue hearts of its
people.
A casual perusal of their political positions, however, places them quite
obviously on the right of the Quebec political spectrum)

Among the loudest of the drums banged by the CAQ during the lead up to the
election was the enshrinement of secularism in the policy and practice of the
state. This manifested itself in a proposed law to ban employees of the state
in positions of authority from wearing religious symbols on the job.

It's worth noting that this is not a fringe belief among the political class in
Quebec. Each of the four parties which represent Quebec in the National
Assembly support a ban on religious symbols for police officers. The CAQ simply
took the ban to the logical and legally-viable extreme.

In a nutshell, the proposal was this: what you wear and do on your own
time is your business, but the moment you step into the school, court,
hospital or prison in which you work, you can either wear your God Garb or tell
people what to do, but not both.

The CAQ won the election in a landslide, in no small part due to their stance
on this issue, and six months into their first term
they followed through on their most popular election promise in tabling Bill
21, or "An Act respecting the laicity of the State." Three months later, on
June 16, 2019, the bill became law.

Impartial observers of Quebec culture have reacted to this law with a healthy
dose of suspicion. To understand why would require volumes [https://en.wikipedia.org/wiki/Quiet_Revolution], but the
cliffsnotes are this: for a number of reasons relating to the contentious history
of Quebec within Canada, a significant pecentage of ethnic Quebecois regard with
considerable importance the protection and promotion of Quebec culture, with
the upshot being an acute fear that this culture is slowly being displaced. It's
the scent of this fear which wafts from this law.

Keeping this in mind, no stretch of the imagination is required to then connect
the dots between fear of cultural displacement to a law banning of religious
symbols in the public sector. Just in case it needs to be spelled out though,
here it is:

- quebec culture is eroding thanks to outside influence
- immigration over the past few decades has been one of the major sources of
this outside influence
- the displacing cultural influence arriving with immigrants is primarily
linguistic and religious
- quebec is already doing what it can on the language front [link to bill 101],
though more can be done [link to recent debates]
- on the other hand, the influence of religions other than "Quebecois religions" (i.e., church on
Christmas and Easter or not at all) has largely been growing unabated
- the second generation immigrants, many of whom have similiar religious
convictions as their parents, are reaching an age where they are entering the
workforce
- while Canada affords Quebec the ability to enforce the use of the
official language of Quebec across all sectors, the province have no such tool for
religiosity
- further, the state cannot single out the religions whose influence is clearly
outpacing all others (e.g., Islam, Hinduism, Sihkism) as this would be blocked
on the grounds that it is discriminatory
- therefore, quebec must find a way to make some headway in reducing religious influence
with a law that applies to all people equally
- the Quiet Revolution 
- secularism of the state can be interpreted in a way that means the state
cannot impose rules based on religion, regardless of whether those laws are
in support of opposition to religion. This interpretation is best exemplified
by the First Amendement to the United States Constitution, which states that
Congress shall make no law respecting an establishment of religion, or <em>prohibiting the free exercise thereof</em>
- HOWEVER, it can also be intepreted as the state and the employees by whom it is
represented being required to demonstrate an impartiality in terms of religion
- using the second reading of "secularism of the state" would therefor imply
that these employees MUST refrain from displaying any symbolism in support of
any religion
- the "non-Quebecois" religions whose influence quebec wishes to diminish
appear to have the commonality of strict rules about what their adherants must wear
- "Quebecois" religions have no such rules, or, if they do, no one is so pious as
to actually follow them
- by banning religious symbols for upwards of 100k positions in the public
sector which have authortiy over the public, we can make adherants of
non-Quebecois religions choose between their religious symbols (read: religion)
and employment in their chosen field
- such a choice is a win-win in terms of reducing the visibility and therefor
influence of non-Quebecois cultures

None of these points are very controversial as far as I'm concerned, though
the argument could be made that some include a healthy dose of conjecture with
regard to the opinions of Quebecers. Sure, polls find that Quebecers enjoy
living in a diverse society [https://www.ledevoir.com/societe/554660/laicite-les-quebecois-nage-dans-les-contradictions, https://ici.radio-canada.ca/nouvelles/special/2017/03/sondage-crop/canadiens-tolerance-religion-immigrants-identite-culture/], but polls also show that Quebecers think minority cultures should
assimilate into the dominant, "Quebecois" culture. Read into that how you will,
but I'm inclined to put more weight into the desire for assimilation.

(It must be said that these opinions are of this is localised to Quebec. Canadians as a whole have
worries about immigration [https://www.lesoleil.com/actualite/les-resultats-dun-sondage-sur-limmigration-inquietent-le-ministre-hussen-d73c4e9d9559501498c49d06ff4a78d4].)

Alright, that's enough for background. Let's get a better understanding of this
ridiculous law written by ridiculous people.

Section

With respect to just what a religious symbol is, the <i>original</i> writing of
the bill states that it is

```
(404 definition not found)
```

Rather than anticipating that people <em>might want some guidelines for what they
cannot wear in a law banning things they cannot wear</em>, the CAQ assumed the
stance of "come on, you know what we mean."

One might think this is a mischaracterization. It's not. When pushed on the
definition of a religious symbol by the opposition, Simon Jolin-Barrette -- the
author of the bill -- replied with this:

```
Premièrement, à la demande des collègues du Parti libéral,
nous avons inséré une définition, parce que, dans un premier temps, je n'avais pas défini «signe religieux» parce que
c'est selon le sens courant, selon le sens commun. Et la députée de Saint-Laurent connaît, elle, quel est le sens
courant, quel est le sens commun.
```

In short, "c'mon, you know what we mean."

Not entirely suprising, considering
that the populist right is famously allergic to foresight, critical thinking
and contextualization.

Thankfully, the national assembly demonstrated that it indeed has pre-frontal
cortices available for processing information, and, as Jolin-Barrette alluded
to, several discussions were had as to what constituted a religion symbol. The
result of these discussions was the following definition:

```
any object, including clothing, a symbol, jewellery, an adornment, an
accessory or headwear,* that
(1) is worn in connection with a religious conviction or belief;
```

*(Note that this description leaves out tattoos and hairstyles, which
was a conscious decision and is just a silly distinction that deserves its own
discussion)

It's at this point that the rabble-rousing political dissidents among the
public employees start to consider where one might obtain a stylish niqab.
After all, if you're not religious, nothing is stopping you from heading into
class on monday dressed like a Saudi-Arabian princess.

Alas, the potential for tomfoolery must have been pointed out to Jolin-Barrette,
and a complementary clause was added which states that a religious symbol could
alse be something which

```
(2) is reasonably considered as referring to a religious affiliation.
```

What constitutes "reasonable" consideration? In this case, the law hides behind
the concept of a "reasonable person" as understood by the Supreme Court of
Canada. Is it legally viable? Yes. Is it a cop-out that could backfire? Most
definitely. More on that in a bit.

So, summing up: the thing you're wearing is a religious symbol and therefor
banned if

(1) you think it's religious, OR
(2) people think it's religious

Fantastic law. A+. Super clear and objective. Certainly not a law that is
entirely based on the intuitions of the subject and the observer.

I hope the sarcasm was clear there, but -- just in case -- Jolin-Barrette
admits that this law is not at all objective, noting that the law contains two
criteria

```
[un] critère de l'analyse subjective dans un premier temps et [un] critère de l'analyse subjective dans un deuxième temps.
```

It's a sign of the analytical deficit of the party in power that when they were
pressed to add some objectivity to a subjective bill, they instead highlighted
its subjectivity and patted themselves on the back for the perceived
improvement.

I could go on about the assinine rationale behind this law, but we'll be better
served by accepting its existence and moving on to consider the ways in which
it may be attacked. Thus, the remainder of this critique centers around three,
obvious faults in the logical foundations on which this law was built and why I
think it's destined to fail. There are:

- the definition of a religion
- how the "reasonable person" clause may extend beyond "religion"
- a gaping loop-hole which can be exploited by pedantic smart-asses

I readily admit that I'm not the first person to make some of these arguments [http://www.assnat.qc.ca/fr/travaux-parlementaires/assemblee-nationale/42-1/journal-debats/20190616/247401.html], I'm just the
first person to make them without the restraints of limited time and an
expecation of decorum, which liberates me to make long-winded poop jokes to
emphasize a point.

Let's begin [poop emoji]

<h1>A Religion By Any Other Name</h1>

What's a "religion"?

It seems like a question with an obvious answer, right? To paraphrase
Jolin-Barette, "we all know a religion when we see one." One presumes that
anything with prayers, rituals, ethical systems and someone or something to be
worshipped -- be it a deity, spirit, human, animal, plant or mineral -- can
justifiably be considered a religion.

But it's very important that we question the foundations of our
understandings if we are to arrive at rules and regulations which make for a
better society. In this case the question is whether these characteristic are
truly all there is to a religion.

We've been conditioned to think that "religion" is limited to the Big Six:

Christianity
Islam
Judaism
Buddhism
Hinduism
Sikhism

Combined, these account for nearly every church, holy hat and prayer on the
globe. They're so pervasive in our lives and in our media that we tend to
forget that humans have been supersitious since forever, and if there's one
thing that we're good at beside making more humans (and occasionally less
humans), its inventing imaginary sky people and putting words in their mouth.
Words like "don't eat that" and "wear this thing" and "killing is bad, but you
should do it this one time to prove that you like me"

Picture
Do you like Yahweh?
[ ] No
[ ] Maybe
[ ] Kill your son

With all the various folk religions and denominations, its impossible to arrive
at the exact number of religions, but
https://www.theregister.com/2006/10/06/the_odd_body_religion/
estimates put the number in the thousands, with these religions coming in all
shapes, sizes, shades and hues.

So while you might be used to these being symbols of religions:

cross, star and crescent, star of david, om, hijjab

There's nothing fundamentally different about these symbols:

yin and yang, eye of horus, pentacle, druze star, bindi

Any truly secular society would necessarily be blind to these shades of
religiosity. And, to their credit, the Quebec government has demonstrated this
blindness by refraining from defining "religion" in the law.

Vagueness is necessary for this law to have even a remote chance of
defensibility. Unlike (say) racism, not even scholars of religion can give a
straight answer as to what qualifies something as a religion. If the government
were to give it a shot, it would quickly realize that there are only two
possible outcomes:
a) limit the scope of religion by specifing a set of criteria with describes
the popular, deity-worshiping religions (and implicitly condones all religions
which do not meet the criteria)
b) expand the scope until you can squint and see the Montreal Canadiens logo

Both options are a disaster from a legal and political standpoint.

Anyone who's lived through the holy months of playoff season should understand
why Option B would be intractable. Option A is a bit subtler, and while it's not my intent to
go full strawman and make a hypothetical version of the law the centerpiece of
this discussion, it is worth a quick aside. Hopefully by doing so we can
clarify why such a law must be vague and why this vagueness may come up in future court
challenges.

To begin with, the argument in support of any set of criteria for Option A is
tautological:

"This is the correct set of criteria for qualifying something as a religion
because this is the set of criteria which describe a religion."

Even if we let that slide, there are still plenty of holes ripe for the poking.
How many of the criteria must be met for something to be religion-y enough for
the ban? Is greater weight given to some criteria (e.g., a
belief in a god) than to others (e.g., ritual prayer)? Why is it A-OK to
wear symbols of a religion which barely falls short of these criteria but illegal to
wear symbols a religion which barely makes it in?

It's unclear if the government was aware of and actively avoided this Pandora's
Box or if the CAQ brain trust just didn't think to consider it. Both scenarios
are equally likely. Regardless, we ended up with a law which for all intents
and purposes says "no symbols of religions...you know the ones."

Proponents of Bill 21 might argue that many laws are subjective and that this
case is no different. While it's true that many laws are subjective, the
subjectivity is almost never in regard to the <em>subject</em> of the law but
rather the <em>context</em> that surrounds it. Even then, it is up to our
lawmakers to give a set of criteria which is as exhaustive as possible in order
for the legal system to have clear targets to meet.

Let's illustrate this need for clarity with an example.

The proliferation of the motor vehicle was a great boon for transportation, as
it allowed for the movement of goods and people at a higher sustained velocity
than carraiges and with greater control and manouevrability. These
improvements brought with them a new issue however, as higher speeds increased
the probability of injury and death both for the humans inside the vehicle as
well as for those in its path.

A part of the job of lawmakers is to read the room and create rules which
maximize the wellbeing of the people. Most citizens would agree that injury
and death tend to minimize the wellbeing of the people, and so lawmakers in
jurisdictions with automobiles saw fit to introduce laws to curb these undesirable
side-effects of motor vehicles.

Imagine the life of the average citizen back in the day in such a jurisdiction.
If they are anything like the drivers, cyclists and pedestrians of today, they
probably feel like they are no threat to public safety, but they have concerns
about some of the drivers on the road.

The lawmakers in this area would have picked up on this sentiment. Some may
have even campaigned on a solution. In this case there's enough public support
for change that the lawmaking process kicks into action. The government spends
months drafting, debating and finalizing a law to increase public safety with
respect to motor vehicles. Finally, they arrive at the folloing rule: "reckless
driving is banned on public roads."

How would the public feel about this law? That is, if the government asked them
for a critique, what comments might they receive?

There would be no sense in discussing what constitutes "driving." It is well
understood that "driving" is the act of piloting a motor vehicle, more
specifically controling its speed and direction. This is not just true by
definition, but also by intuition: angry motorists aren't screaming at the
person riding shotgun when they get cut off in traffic.

The same logic would apply to the words "ban", "public" and "road"; each has a
well-established definition that is uniform across all demographics, regardless
of how individuals might feel about those words.

The focus of most critiques would likely surround the idea of
<i>"recklessness"</i> in the context of driving. The citizens would agree that
driving recklessly is something that should not be tolerated, but many would
want to know where the line would be drawn. As such, a group of citizens attend
the next meeting of lawmakers to pose a simple question to the primary author
of the bill, call him Siméon Bolin-Jarrette:

"Monsieur Bolin-Jarrette, we agree that the state should be discouraging
reckless driving. What concerns us is the vargueness of the language of this
bill. Specifically, can you clarify what is meant by 'reckless' when it comes
to the operation of an automobile?"

Imagine if in this situation Bolin-Jarrette were to stand up and answer his
questioners by saying "Look, it's just common sense: we've all seen enough Model
Ts zipping around our streets to know reckless driving when we see it. I tell
you what, though, just for you I'll flesh this out a bit further. Let's call it
reckless driving if a reasonable person would consider the driving reckless."

Would that be a satisfactory answer? Obviously not. Definitions of recklessness
will vary between cultures, subcultures and indiviuals. One town may may have
plenty of cars and no pedenstrians. Another may have plenty of pedestrians and
no cars. Who is the "reasonable" person in this scenario?

We don't process "reckless"ness on a case-by-case basis or leave it
up to a "reasonable person" to differentiate. Instead, we hone in on events which are
demonstrably reckless, identify the objective quantities and qualities of the
actions which lead to those reckless events and use this information to construct
laws which prevent these reckless events from occuring.

Cars are going too fast for drivers and pedestrians to react to their movement?
Add a law requiring spedometers in all cars and another imposing a speed limit.

Cars are swerving around on the road and crashing into one another? Add a law
requiring all roads to have a line down the middle and another specifying which
side cars must stay on.

Cars are crashing into each other when turning? Add a law requiring drivers to
alert their neighbours of an upcoming turn via the use of a physical signal.

Each of these examples has at its core the aim of discouraging reckless
driving, with the difference from Bolin-Jarrette's "no reckless driving" law
being that there is zero ambiguity about what is expected from the public.



All this to say that if you're having difficulty characterizing the central
aspect of the thing you want to ban, maybe you shouldn't be banning it. 












How would a reasonable person think?

Let me ask you a question: can a teacher in Quebec wear this?

https://www.bellanaija.com/wp-content/uploads/2015/12/Printex-Duku-Collection-Shoot-BellaNaija-December2015006.jpg

If your answer is "is it a symbol of some religion?" then you haven't quite
grasped the subtle nefariousness of this law.

If a "reasonable person" would consider it to have a religious affiliation, then it does. If a community of people decides that an
article of clothing like this is just a bit too religiousy for their tastes,
they are well within their right to tell that teacher or lawyer or doctor to
pound sand and go look for work somehere else.

It sounds silly, and a "reasonable person" in your community might call this
racist, but you need to understand that your opinion only matters in your
community for the purposes of this law.

And even if no such discrimination ever occurs, such anti-religious sentiment
with an outsized impact on people of colour will surely embolden individuals of
the far-right who wish to target, say, muslims. It will appear to them as their
government agreeing with them that these non-white, non-assimilating newcomers
to their country must be dealt with.

"I don't like that we're accomodating..."

your don't have to do jack shit. Actively enforcing such rules literally
requires more effort than just letting people live their lives.

https://www.reddit.com/r/Quebec/comments/nvy89v/pendant_ce_temps_dans_le_roc/h17epgz?utm_source=share&utm_medium=web2x&context=3
Suis-je le seul à penser que l'acte terroriste d'hier est ignoble et lâche tout en étant d'accord avec le fait que
aucune religion ne devrait être représentée par l'etat?

That's not what's happening though. Judges, teachers and police officers
are free to clock in and talk at length about how they are reigious, at which
point its obvious that a relgious person is representing the state

further. If members of every religion are wearing their religious symbols, how
in the sweet fuck can any one of them be said to appear to be representing the
state?

Here's a riddle:

A squad car has 6 officers in it,
one of whom is wearing a turban
one of whom is wearing a cross
one of whom is wearing a kippah
one of whom is wearing a hijjab
one of whom is wearing an eye of horus
one of whom is wearing druze star

What fucking religion represents the state?

Trick question: a single individual wearing a symbol has nothing to do with
the state.

Looks at a teacher with a turban

I guess the state religion is sihkism

See another teacher with a cross

Oh, nevermind, it must be Sihkism and Christianity

sees another with a kippah

So, it's Sihkism, Chirstianity...and Judaism

sees another with a hijjab

That word "represent"

What does it mean in the context of religion?

Does it mean that the beliefs of the religion represent the beliefs of the state?

Eating pork is forbidden in Judaism and Islam.
Eating meat in general is forbidden in Sihkism.

Stop me if you've heard this one:

Aturban, a kippah and a hijjab walk into a school. What's banned from the lunch
menu?

Nothing.
Why? Because employees personal beliefs do not represent those of the state.

If so, how can the disaprate views of all these religions
represent the state especially when most of them say that the others are wrong
and will go to hell for their beliefs.

Futher still, if the vast majority of the people holding these positions are
irreligious, doesn't that mean that this is the true belief of the state

What's the purpose of the law?

Well now this is just getting ridiculous. The state needs to get its act
together and pick a lane, because I'm starting to think that it doesn't care
about people's religion whatsoever has no horse in the race
whatsoever!

Who does this law affect? We know it applies to government employees in
positions of power, but how hard of a line is being drawn? Can I, an unabashed
athiest, get a position as a prison guard and show up for my first day on the
job in my finest, sequined hijab, ready to greet inmates to a smile with a side
of cultural appropriation?

not actually religious but wearing a shawl out of modesty

doesn't matter, reasonable quebecois associate it with a religioun therefor it is
twitter of gilr getting yelled at tokebecicitte

so really it comes down to PR


By the letter of the law: no.

Infringement of the law is based on both personal belief and public
perception. What concerns the state in this case is that I am wearing an
object that is "reasonably considered as referring to a religious affiliation"
and when I step through the gates I am functioning as a <em>representive of
the state</em> and that  I have <em>authority</em> over the members of the
public behind those bars. I've checked the only boxes that matter, so the state requires
that I appear spiritually impartial in my attire.

Seems like we've hammered this one out:

Under NO circumstances is ANYONE exempt from this law. Not you, not me,
not Jesus himself. No one. (except the tatooed and the rastad). Period. (kinda).

If that's where it ends, it's tempting to return to the Why/Why Not and get
into a culture war on twitter until either your brain or your phone hit 0%
battery. Fortunately for fans of reason, we still have one more W to consider.

The What:

This seems simple, right? We're not morons, 

Now that that's over with and we definitely for sure 100% know what a religion is, we can
finish off this part of the discussion by briefly consdiering the "symbol" part of "religious symbol," as it's
important to know which symbols are subject to this law.

I won't spend any time on the definition of "symbol" since it's largely the
same discussion as the (lack of) definition of "religion." Instead, I'll ask
more question to bookend the metaphysical part of this thesis:
does the scope of the religious symbol law cover those symbols worn voluntarily
or is it only applicable to those that are mandatory under sky law?

No need to drag this out: it's obviously both.

Subsection

Combining what we've deduced so far we're left with the following
interpretation of the law:

Under no circumstances may any religious symbol be worn by any employee of the
state in a position of authority, with the significance of the symbol to the
employee being of no consequence.

That's air-tight. Regardless of what happens when put into practice, no
reading of the law will show that it is intended to disproprtionately affect
immigrants and people of colour who exist outside the traditional sphere of
Quebec culture. On the contrary, the law is egalitarian in nature, applying
equally to all religions, to all symbols and to all people.

, the government tipped showing they
believed that they need only consider religions whose symbolism rules Quebec
voters were familiar with: your islam, your judaism, your sihkism. And why not?
The newspapers and talking heads aren't stirring up moral panic about taoism or
wicca influencing the minds of the Quebec youth.



  (Don't specify TST, just use a placeholder in message)

I have taken the liberty to draft a press release for TST to end to the Quebec government and release to the media.

The Satanic Temple (TST) has recently learned that the Quebec has on its books
a law (Bill 21) which requires all employees of the state in positions of
authority to refrain from wearing any and all symbols which may be construed as
representing a religion.

The Satanic Temple does not yet have a chapter in Quebec, but we have no doubt
that there are adherants to our teachings in La Belle Province, with some
possible under the employ of the state. We wish for them not to run afoul of
any laws regarding secularism and, in doing so, jeopardize their careers. As
such, we thought it best to alert the Quebec government that our members and
leadership have agreed upon the official symbolic garment for our religion.

Initial discussions coalesced around the idea of our symbol being a pair of
blue Levis, either boot cut or skinny. It was thought that one of these two
symbols would accurately reflect the wide range of historical figures who,
though not openly Satanists, likely espoused many of the Temples
beliefs themselves.

http://files.abovetopsecret.com/files/img/np540771e9.jpg
https://allenginsberg.org/2020/09/f-s-4/

While most members were in favour of this symbol, a vocal minority observed
that the two options would not allow the flock to express their piety in a way
that fit their shape, style and budget. Hajjabs and kippahs, the reasoning
went, come in many forms and at many prices points, and the TST should strive
for at least a similar level of constomizability. The merits of this argument
were immediately recognized by all.

And so it was that, in the spirit of understanding and progressivity which TST
wishes to embody, the scope of our symbol was gradually expanded to
include a broader and broader greater range of options and stlyes of clothing
and accessories.

Finally, we arrived at a symbol to call our own. A symbol which combines form
and funciton. A symbol which opened itself to followers from all walks of life
and all corners of the globe by making every stylistic concession imaginable:

The zipper.

Something about a metaphor for disparate groups and peoples coming together the make the whole
stronger.

We believe this perfect symbol of the TST. It's subtle utilitarian nature
allows followers to show their piety with not just blue jeans, but black jeans,
grey jeans, slacks, jackets, backpacks, purses, luggage, some styles of
footwear and a significant percentage of gimp masks on the market today.

We had initially assumed that this law applied only to our practitioners and
not the public at large. After discussing the content of the law with our
lawyers though, it is our understanding that no such disctintion exists. TST
would therefor also like to take this opportunity to alert all non-believers
who were previously unaware of our symbolism to refrain from wearing blue jeans
of any make or model during work hours.

TST recognizes that blue jeans

We recognize the inconvenience that this may cause and we suggest that they
use buttenfly adn elastic where possible. 

The Satanic Temple is a far from what you or I would consider a traditional
religion and its cause is much cheerier than its name belies. Followers of TST
are overwhelmingly atheists whose mission statement "to encourage benevolence and empathy among all people, reject
tyrannical authority, advocate practical common sense, oppose injustice,
and undertake noble pursuits" reads less like the credo of a congregation
familiar with blood rituals and more like the rallying cry of a left-wing
political advocacy group.

With chapters across in a handful of locations in the United States and only
two in Canada, you likely don't know the TST by name. You may, however, be
familiar with their work.

The TST have combined their distinct brand of activism with their political and
media savvy to pull off a number of high-profile stunts in recent years.

https://globalnews.ca/news/5488632/satanic-temple-canada/
https://www.facebook.com/thesatanictempleottawa/

https://globalnews.ca/news/5488632/satanic-

https://thesatanictemple.com/
The Satantic Temple is a religious organization with chapters across the US and
two in Canada, with one being right across the river from Gatineau, Quebec.
TST has frequently weilded their status as a religion to ensure religious
freedom is not interfered with by the State. You may have heard of some of their exploits:
forcing the removal of the Ten Commandments by installing a goat-head satan statue
Challenging abortion laws by making immediate access to abortion a sacred rite.

I think this is swell. More than that though, it's an opportunity. Being a
religion, the Satanic Temple has the power to instantly force a
ban on any article of clothing it chooses, simply by delaring it a symbol of
that religion.


Because if the government can pick and choose which religions and which articles of
clothing are exempt from the law, then Bill 21 isn't worth the goddamn paper
it's printed on.
