<!DOCTYPE html>

<html>
  <head>
    <title>Sketch Pad</title>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="utf-8" http-equiv="encoding">
    <link rel="stylesheet" href="/styles/identity.css">
    <link rel="stylesheet" type="text/css" href="/styles/sketch.css"></link>
    <script src="/libs/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/libs/raphael.js"></script>
    <script type="text/javascript" src="/libs/json2.min.js"></script>
    <script type="text/javascript" src="/libs/raphael.sketchpad.js"></script>
  	<script type="text/javascript" src="/scripts/sketch.js"></script>
  </head>
  <body>
    <div id="floatingHeader">
      <div id="togglePanDraw" class='buttons-container'>
        <div name="pan" class="rounded-l sketch-button toggle-button-selected">
          <img src="/images/icons8-move-48.png">
        </div>
        <div name="draw" class="rounded-r sketch-button toggle-button-unselected">
          <img src="/images/icons8-edit-48.png">
        </div>
      </div>
      <div id="navButtons" class='buttons-container'>
        <div id="undo" class="rounded-l okenney-button sketch-button">
          <img src="/images/icons8-undo-48.png">
        </div>
        <div style="background-color: white;">
          <span style="background-color:rgb(212, 212, 212); width:1px;height:75%; margin-top:auto; margin-bottom:auto"/>
        </div>
        <div id="redo" class="rounded-r okenney-button sketch-button">
          <img src="/images/icons8-redo-48.png">
        </div>
      </div>
    </div>
    <div id="editor-container" class="pan">
      <div id="editor"/>
    </div>
  </body>
</html>
