{% extends "layout.html" %}
{% import 'macros/images/progressive/immediat.html' as images -%}
{% import 'macros/article.html' as article -%}

{% block head %}
<link rel="stylesheet" href="/styles/article.css">
<script async src='https://pol.is/embed.js'></script>
{{ images.css() }}
{{ images.js() }}
  {% block entete_article %}
  {% endblock %}
{% endblock %}

{% block content_column %}
<div id="Article">
  <div id="EnTeteArticle">
    <div id="RecipGrosTitreArticle">
      <div id="TitreArticle">
        {% block article_titre %} {% endblock %}
      </div>
      <div id="SoustitreArticle">
        {% block article_soustitre %} {% endblock %}
      </div>
    </div>
      {% call article.image_et_legende(legende_image()) -%}
        {% block article_image %}
          {{ images.image_progressive(image_dir, 'article-recip-image')}}
        {% endblock %}
      {% endcall %}
    </div>
  </div>
  <div id="RecipTexteArticle">
    {% block article_texte %} {% endblock %}
  </div>
</div>
{% endblock %}

{% block toc %}
<!-- https://www.joshwcomeau.com/css/rules-of-margin-collapse/ -->
{% endblock %}
