{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" href="/styles/article.css">
<script async src='https://pol.is/embed.js'></script>
  {% block entete_article %}
  {% endblock %}
{% endblock %}

{% block content_column %}
<div class="article">
  <div class="article-en-tete">
    <div class="article-recip-grostitre">
      <div class="article-recip-gt-titre">
        {% block article_titre %} {% endblock %}
      </div>
      <div class="article-recip-gt-soustitre">
        {% block article_soustitre %} {% endblock %}
      </div>
    </div>
    {% block article_image %}
    <img src="{{image_dir}}/principal-pt.png" />
    {% endblock %}
  </div>
  <div class="article-recip-texte">
    {% block article_texte %} {% endblock %}
  </div>
</div>
{% endblock %}

{% block toc %}
<!-- https://www.joshwcomeau.com/css/rules-of-margin-collapse/ -->
{% endblock %}
