{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" href="/styles/control.css">
{% endblock %}

{% block content_column %}

<div id="ControleConsommation" class="etape-categorie">
  <div id="PageControle">
    <div id="ConsomRevenir" class="control-bouton rounded-all pas-vu-categorie">BACK</div>
    <div id="ConsomDebut" class="control-bouton rounded-all pas-vu-categorie">RESET</div>
    <a href="{{DETAILED_CONTROL_URL}}" style="text-decoration: none;">
      <div id="ConsomVieux" class="control-bouton rounded-all">DETAILED</div>
    </a>
  </div>
  <div id="EtapeCategorie" class="etape-recip etape-choix">
    {% for cat in categories %}
    <div class="consom-bouton rounded-all">
      <span>{{ cat.name }}</span>
    </div>
    {% endfor %}
  </div>
  <div id="EtapeProduit" class="etape-recip etape-choix">
    {% for cat in categories -%}
      {% for prod in products -%}
      {% if prod.category == cat.name -%}
      <div class="consom-bouton rounded-all choix-{{cat.name}}">
        <span>{{ prod.name }}</span>
      </div>
      {% endif %}
      {% endfor %}
    {% endfor %}
  </div>
  <div id="EtapeUnitee" class="etape-recip etape-choix">
    {% for cat in categories -%}
      {% for unitee in units -%}
      {% if unitee.category == cat.name -%}
      <div class="consom-bouton rounded-all choix-{{cat.name}}">
        <span>{{ unitee.name }}</span>
      </div>
      {% endif %}
      {% endfor %}
    {% endfor %}
  </div>
  <div id="EtapeResume" class="etape-recip">
    <table id="ConsomDetails">
      <tr>
        <td>Category</td>
        <td id="ChoixCategorie"></td>
      </tr>
      <tr>
        <td>Product</td>
        <td id="ChoixProduit"></td>
      </tr>
      <tr>
        <td>Unit</td>
        <td id="ChoixUnitee"></td>
      </tr>
    </table>
    <div id="ChoixQuantite">
      <input class="choix-entree"></input>
      <div id="ConsomSoumettre" class="consom-bouton rounded-all">SUBMIT</div>
    </div>
  </div>
  <div id="AutreChoix" class="pas-vu-categorie pas-vu-resume">
    <input class="choix-entree"></input>
    <div id="ChoixOK" class="consom-bouton rounded-all">OK</div>
  </div>
</div>
<script>
$(function () {
    var $controle = $('#ControleConsommation');
    var $divsChoix = {
        Categorie: $('#ChoixCategorie'),
        Produit: $('#ChoixProduit'),
        Unitee: $('#ChoixUnitee'),
    }
    var $pageEtape = $('#EtapeCategorie');
    var $premiereEtape = $pageEtape;
    var $autreEntree = $('#AutreChoix input');
    var $quantiteEntree = $('#ChoixQuantite input');

    function obtenirNomEtape($elt) {
        if ($elt === undefined)
            $elt = $pageEtape;

        return $elt.attr('id').split('Etape')[1];
    }

    function remplacerClasseCommenceAvec(classe_debut, nouveau) {
        let classesActuelles = $controle.attr('class').split(' ');
        $.each(classesActuelles, (id, item) => {
            if (item.indexOf(classe_debut) == 0)
                $controle.removeClass(item);
        });

        $controle.addClass(classe_debut + nouveau);
    }

    function remplacerEtapeClasse(nouveau) {
        remplacerClasseCommenceAvec('etape-', nouveau);
    }

    function remplacerEtapeClasseClasse(cat) {
        remplacerClasseCommenceAvec('categorie-', cat);
    }

    function reglerEtape($elt) {
        // Get the name for the step we are moving to.
        let nomEtape = obtenirNomEtape($elt);

        // Update the step.
        remplacerEtapeClasse(nomEtape.toLowerCase());

        // Clear the input (since the user might want to set it).
        $autreEntree.val('');

        // Store the container for the new step.
        $pageEtape = $('#Etape' + nomEtape);
    }

    function prochaineEtape() {
        reglerEtape($pageEtape.next());
    }

    function etapePrecedente() {
        reglerEtape($pageEtape.prev());
    }

    /******************************** Options ********************************/

    function traiterChoix(choix) {
        let nomEtape = obtenirNomEtape();

        // Set the chosen value.
        $divsChoix[nomEtape].text(choix);

        // If the category was just selected, let the CSS hide all of the
        // buttons associated with the previous category and show all of the
        // buttons associated with the new one.
        if (nomEtape == 'Categorie')
            remplacerEtapeClasseClasse(choix);

        // Move to the next step.
        prochaineEtape();
    }

    // Default options.
    $('.etape-choix .consom-bouton').click(function() {
        let $bouton = $(this);

        // Get the value of the selection.
        let choix = $bouton.find('span').text();

        traiterChoix(choix);
    });

    // User-defined option.
    $('#ChoixOK').click(() => {
        // The must have typed something.
        let choix = $autreEntree.val()
        if (choix == '')
            return;

        traiterChoix(choix);
    })

    // Submit the choice
    $('#ConsomSoumettre').click(() => {
        // The user must have proved a quantity.
        let quantite = +$quantiteEntree.val();

        if (isNaN(quantite)) {
            $quantiteEntree.val('');
            alert('Quantity must be a float or integer.');
            return
        }

        // Assume the addition is being made node.
        let date = new Date(); 

        // Gather the values, send them off to the backend and reset the page.
        $.ajax({
            type: "POST",
            url: "{{CONSUMPTION_API}}",
            data: {
                category: $divsChoix.Categorie.text(),
                product: $divsChoix.Produit.text(),
                unit: $divsChoix.Unitee.text(),
                quantity: `${quantite}`,
                datetime: date.toISOString(),
            }
        });

        recommencer();
    });

    /****************************** Navigation *******************************/

    // Go to the previous step.
    $('#ConsomRevenir').click(() => {
        // Get rid of the most recently-stored value.
        let nomEtapePrecedente = obtenirNomEtape($pageEtape.prev());
        $divsChoix[nomEtapePrecedente].text('');

        // Go to the previous step.
        etapePrecedente();
    });

    function recommencer() {
        // Clear out the choices for all of the steps.
        $.each($divsChoix, function (key, $div) {
            $div.text('');
        });

        // Clear all inputs.
        $('input').val('');

        reglerEtape($premiereEtape);
    }

    // Reset the choices and go back to the beginning.
    $('#ConsomDebut').click(recommencer);
});
</script>
{% endblock %}
