{% extends "layout.html" %}

{% block title %}A Better Imperfect{% endblock %}

{% block description %}Analysing society's relationships with philosophy, politics and technology to search for a better (imperfect) future. Inspired by lines from Voltaire's La_Bégueule 'Dans ses écrits, un sage Italien /
Dit que le mieux est l'ennemi du bien'{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="/styles/homepage.css">
{% endblock %}


{% block content_column %}
  <p>TEST</p><br>
  <p class="open">
    We really need a better means of communication between the elected and the electorate. Time and again people come into council meetings and complain about how they never received word about a certain subject that was of great interest to them.
    Even if someone follows their elected official on Twitter or Facebook or myspace, they
    still need to sift through the information that flows from those accounts to see if there's
    anything of interest to them.
  </p>
  <p>
    Maybe I'm especially interested in Milton Parc sports.
    </br>
    Maybe I really want to know when there will be road work that will affect Saint-Denis (aka the entire calendar year).
    </br>
    Maybe I'm a shut-in whose life revolves around 3 square blocks in the Mile End and I collect absynth spoons and italian volleyball cards.
  </p>
  <p>
    Whoever I am and whatever my interests are, there should be a way for me to get information about my topics of interest in my areas of interest immediately as that information becomes available (even the absynth spoon person; anything to get them out of the house).
  </p>
  <p>
    We already associate a region and subject to all of the points of a given council meeting. How do we extend that information?
  </p>
  <p>
    Why, with a map that users can draw on to specify their interests, of course
  </p>
  <p>
    Here's an example of how it might look:
  </p>
  <img src="/images/pmr-carte.jpg"/>
{% endblock %}
