<!doctype html>
<html>

<head>
{% block title %}
  <title>A Better Imperfect</title>
{% endblock %}
{% block description %}
  <meta name="description" content="Analysing society's relationships with philosophy, politics and technology to search
  for a better (imperfect) future. Inspired by lines from Voltaire's La_Bégueule 'Dans ses écrits, un sage Italien /
  Dit que le mieux est l'ennemi du bien'">
{% endblock %}
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/styles/identity.css">
  <link rel="stylesheet" href="/styles/layout.css">
  <!-- Overall Style -->
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Acme|Bree+Serif|Eczar|Merriweather+Sans|Josefin+Sans&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- jQuery -->
  <script src="/libs/jquery-3.4.1.min.js"></script>
  <!-- Scripts -->
  <script src="/scripts/header.js"></script>
  {% block head %}
  {% endblock %}
</head>

<body>
  <div id="header-bar" class="title-bar">
    <!-- Here be options -->
    <div class="mobile-name title-text">
      A O' K
    </div>
    <div class="desktop-name title-text">
      <div class="first-name">
        Alf
      </div>
      <div class="last-name">
        O'KENNEY
      </div>
    </div>
    </div>
    <!-- Here be search bar and help -->
  </div>
  <div id="content">
    <div class="left-column"></div>
    <div class="content-column content-column-text">
      {% block content_column %}{% endblock %}
    </div>
    <div class="right-column"></div>
  </div>
  <div id="footer">
    {% block footer %} {% endblock %}
  </div>
</body>

</html>
