{% import 'identity.html' as ident -%}
{% import 'aplan.html' as aplan -%}
<!doctype html>
<html>

<head>
  <title>{% block title %}Alf O'Kenney{% endblock %}</title>
{% block description %}
  <meta name="description" content="Let's highlight some ways to improve, rather than focusing on our inability to perfect. Inspired by lines from Voltaire's La Bégueule 'Dans ses écrits, un sage Italien /
  Dit que le mieux est l'ennemi du bien'">
{% endblock %}
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/styles/layout.css">
  {{ ident.css() }}
  {{ aplan.css() }}
  <!-- Overall Style -->
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Bree+Serif|Josefin+Sans|Poppins:500|Nunito+Sans&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- jQuery -->
  <script src="/libs/jquery-3.4.1.min.js"></script>
  <!-- Scripts -->
  <script src="/scripts/layout.js"></script>
  {% block head %}
  {% endblock %}
</head>

<body>
  <header>
    <div class="glisser prem ferme">
      {{ ident.entete() }}
    </div>
    <div class="arr"></div>
  </header>

  <div id="ArrPlan">
  </div>

  <div id="Contenu" class="glisser ferme">
    {% block content_column %} {% endblock %}
  </div>

</body>

</html>
