<!doctype html>
<html>

<head>
{% block title %}
  <title>Alf O'Kenney</title>
{% endblock %}
{% block description %}
  <meta name="description" content="Let's highlight some ways to improve, rather than focusing on our inability to perfect. Inspired by lines from Voltaire's La Bégueule 'Dans ses écrits, un sage Italien /
  Dit que le mieux est l'ennemi du bien'">
{% endblock %}
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/styles/identity.css">
  <link rel="stylesheet" href="/styles/layout.css">
  <!-- Overall Style -->
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Bree+Serif|Josefin+Sans|Poppins:500|Nunito+Sans&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- jQuery -->
  <script src="/libs/jquery-3.4.1.min.js"></script>
  <!-- Scripts -->
  <script src="/scripts/layout.js"></script>
  {% block head %}
  {% endblock %}
</head>

<body>

  <div id="EnTete">
    <div class="tiers-aplan">
      <div id="RecipientBarre">
        <div id="BarreDeRecherche">

          <button id="FaireRechercher" class="bouton-bdr" >
            <i class="material-icons md-30 md-dark md-inactive">
              search
            </i>
          </button>
          
          <input type="text" class="open-sans" placeholder="Search OKenney.ca">
          
          <button id="SupprimerText" class="bouton-bdr" style="display:none;">
              <i class="material-icons md-30 md-dark">
                cancel
              </i>
          </button>
        </div>
      </div>
    </div>
    <div class="tiers-nom glisseur ombre-b ombre-g">
      <div id="BoutonsMenus">
        <div name="hamburger">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div name="bureau">
          <span>MENU</span>
        </div>
      </div>
      <div id="Nom">
        <div name="mobile" class="texte-titre">
          A O' K
        </div>
        <div name="bureau" class="texte-titre">
          <div name="prenom">
            Alf
          </div>
          <div name="famille">
            O'KENNEY
          </div>
        </div>
      </div>
      <button id="Loupe" class="bouton-bdr">
        <i class="material-icons md-30 md-light">
          search
        </i>
      </button>
    </div>
  </div>

  <div id="Corps">
    <div class="tiers-aplan">
      <div id="ListeMenu">
        <div class="option-de-menu">Honesty</div>
        <div class="option-de-menu">Ideas</div>
        <div class="option-de-menu">Philosophy</div>
        <div class="option-de-menu">Politics</div>
        <div class="option-de-menu">Projects</div>
      </div>
    </div>
    <div id="ColonneGauche" class="tiers-contenu glisseur-gauche">
    </div>
    <div id="OmbreCG" class="glisseur-gauche ombre-d"></div>
    <div id="OmbreCont" class="glisseur-droite ombre-g"></div>
    <div id="Contenu" class="tiers-contenu glisseur-droite">
      <div name="prim">
        {% block content_column %}{% endblock %}
      </div>
    </div>
  </div>

</body>

</html>
